# GMM Test Data Mockup Notebook

This notebook will produce the test files for GMM dashboard, all output files are stored in tsv format.

For more information please refer to https://github.com/WEHI-ResearchComputing/Genomics-Metadata-Multiplexing/tree/shiny-r-dev/test.

In [1]:
from operations import *

## Operation 1: Generate Sample Sheet based on given Plate Layout Template

In [8]:
def plate_to_samplesheet(xlsx_file):
    '''
    Convert plate layout spreadsheet to samplesheet.
    '''
    wb = openpyxl.load_workbook(xlsx_file)

    # iterate through all sheets
    full_samplesheet = pd.DataFrame()
    for sheet in wb:
        if not sheet.title.lower().startswith('lce'):
            print('Skipping sheet {}'.format(sheet.title))
            continue

        sample_start_cell = find_sample_start_cell(sheet)
        assert sample_start_cell, 'Could not find sample start cell in sheet {}'.format(sheet.title)

        well_start_cell = find_well_start(sheet)
        assert well_start_cell, 'Could not find well start cell in sheet {}'.format(sheet.title)

        sample_lookup = get_sample_lookup(sheet, sample_start_cell)
        sample_list = get_sample_list(sheet, sample_lookup, well_start_cell)
        samplesheet = pd.DataFrame(sample_list, columns=['well_position', 'sample'])
        samplesheet['plate'] = sheet.title

        full_samplesheet = pd.concat([full_samplesheet, samplesheet])

    # reorder columns
    full_samplesheet = full_samplesheet[['plate', 'well_position', 'sample']]
    return full_samplesheet

In [9]:
# generate sample sheet from based on provided plate_spreadsheet_template.xlsx
sample_sheet_df = plate_to_samplesheet('./plate_spreadsheet_template.xlsx')

(
    sample_sheet_df.head(),
    sample_sheet_df.to_csv('op1.plate_layout_to_spreadsheet.tsv', sep='\t', index=False)
)

(    plate well_position            sample
 0  LCE123            A1  Test before sort
 1  LCE123            A2   Test after sort
 2  LCE123            A3           SampleA
 3  LCE123            A4           SampleA
 4  LCE123            A5           SampleA,
 None)

## Operation 2: Collate Multiple FCS files into a single FCS file

In [11]:
def collate_fcs_files(fcs_files, upload_dir):
    '''
    Collate FCS files into a single dataframe, adding columns for plate and sample name.
    '''
    fcs_data = pd.DataFrame()

    for fcs_file in fcs_files:
        # fcs_savepath = os.path.join(upload_dir, fcs_file.filename)
        fcs_savepath = fcs_file  # alter this function for mock up test result purpose
        meta, data = fcsparser.parse(fcs_savepath, meta_data_only=False, reformat_meta=True)
        data = data.sort_values('Time')
        
        plate, sample = get_plate_and_sample_from_filepath(fcs_savepath)
        data['plate'] = plate
        data['well_position'] = get_well_positions(meta)
        data['sample'] = sample

        fcs_data = pd.concat([fcs_data, data])

    return fcs_data

In [12]:
# collate multiple fcs files into a single tsv output
collated_fcs_df = collate_fcs_files(['./14Jun23_INX_NKC_084_LCE662.fcs'], "")  # provide a list of fcs files

# mock up plate data for LCE123
collated_fcs_df['plate'] = 'LCE123'
collated_fcs_df['sample'] = sample_sheet_df['sample'][:len(collated_fcs_df)]

(
    collated_fcs_df.head(),
    collated_fcs_df.to_csv('./op2.collate_fcs_files.tsv', sep='\t', index=False)
)

(           FSC-A    FSC-H          SSC-A    SSC-H    CD16 FITC       CD56 PE  \
 0  115089.296875  69562.0   75108.632812  44791.0   129.710007  37108.621094
 1  127671.296875  83696.0   64815.761719  43674.0   112.270004  17709.240234
 2  102016.796875  74176.0   50605.429688  35155.0   105.730003  25967.160156
 3  123290.093750  71681.0  100057.640625  55735.0   553.720032     66.299995
 4  110112.296875  68001.0   86295.304688  55742.0  1148.859985    149.940002

          DAPI         Time   plate well_position            sample
 0   61.410000  1698.400024  LCE123            A3  Test before sort
 1   52.509998  1865.300049  LCE123            A4   Test after sort
 2   41.829998  2052.899902  LCE123            A5           SampleA
 3  203.809998  2330.300049  LCE123            A6           SampleA
 4   97.900002  2758.300049  LCE123            A7           SampleA  ,
 None)

## Operation 3: Merge Data with Sample Sheet and Template Sheet

In [59]:
def load_excel_samplesheet(template_sheet_filepath):
    df = pd.read_excel(template_sheet_filepath, skiprows=1, header=None)

    def combine_columns(a, b):
        if pd.isna(a):
            return b
        elif pd.isna(b):
            return a
        return f'{a}_{b}'
        
    new_columns = [combine_columns(a, b) for a, b in zip(df.iloc[0], df.iloc[1])]

    df.columns = new_columns
    df = df.drop(index=[0, 1])

    df.rename({'Plate#': 'plate', 'Well position': 'well_position', 'Sample name': 'sample'}, axis=1, inplace=True)    
    return df

In [82]:
def merge_data_with_samplesheet(spreadsheet_filepath, fcs_file, template_sheet_filepath):
    '''
    Merges processed/uploaded data (may be sample sheet and/or fcs data).
    Will merge into a template if provided.
    '''
    fcs_data = pd.read_csv(fcs_file, sep='\t') if fcs_file else None
    is_xlsx = spreadsheet_filepath.endswith('.xlsx')
    merged_data = pd.DataFrame()

    if template_sheet_filepath and is_xlsx:
        raise Exception('Cannot merge template sheet with xlsx file. Please upload a tsv file with plate, sample and well positions.')
    elif template_sheet_filepath:
       
        template = load_excel_samplesheet(template_sheet_filepath)
        spreadsheet = pd.read_csv(spreadsheet_filepath, sep='\t')
        # spreadsheet.rename({'Plate#': 'plate', 'Well position': 'well_position', 'Sample name': 'sample'}, axis=1, inplace=True)

        for plate in spreadsheet.plate.unique():
            plate_data = template.copy()
            plate_data['plate'] = plate
            plate_data = pd.merge(plate_data, spreadsheet,
                                  left_on=['plate', 'well_position', 'sample'],
                                  right_on=['plate', 'well_position', 'sample'], how='left')

            merged_data = pd.concat([merged_data, plate_data])
        
    elif not is_xlsx:
        merged_data = pd.read_csv(spreadsheet_filepath, sep='\t')

    if fcs_data is None:
        return merged_data
    
    if is_xlsx:
        spreadsheet = load_excel_samplesheet(spreadsheet_filepath)
        samples_colname = [col for col in spreadsheet.columns if col.lower() == 'sample' or col.lower() == 'sample name'][0]

        return pd.merge(spreadsheet, fcs_data, 
                        left_on=['Plate#', 'Well position', samples_colname],
                        right_on=['plate', 'well_position', 'sample'], how='left')
    else:
        return pd.merge(merged_data, fcs_data, on=['plate', 'sample', 'well_position'], how='left')

In [83]:
merged_samplesheet_fcs_and_template_sheet_df = merge_data_with_samplesheet('./op1.plate_layout_to_spreadsheet.tsv', 
                                                                           './op2.collate_fcs_files.tsv', 
                                                                           './template_sheet.xlsx')

(
    merged_samplesheet_fcs_and_template_sheet_df.head(30), 
    merged_samplesheet_fcs_and_template_sheet_df.to_csv('op3.merged_sample_sheet.tsv', index=False, sep='\t')
)

(     plate well_position Sample type\n(SC or MB) Tissue type\n(if required)  \
 0   LCE123            A1                   empty                        NaN
 1   LCE123            A2                   empty                        NaN
 2   LCE123            A3                     NaN                        NaN
 3   LCE123            A4                     NaN                        NaN
 4   LCE123            A5                     NaN                        NaN
 5   LCE123            A6                     NaN                        NaN
 6   LCE123            A7                     NaN                        NaN
 7   LCE123            A8                     NaN                        NaN
 8   LCE123            A9                     NaN                        NaN
 9   LCE123           A10                     NaN                        NaN
 10  LCE123           A11                     NaN                        NaN
 11  LCE123           A12                     NaN                        NaN
 12  LCE123           A13                     NaN                        NaN
 13  LCE123           A14                     NaN                        NaN
 14  LCE123           A15                     NaN                        NaN
 15  LCE123           A16                     NaN                        NaN
 16  LCE123           A17                     NaN                        NaN
 17  LCE123           A18                     NaN                        NaN
 18  LCE123           A19                     NaN                        NaN
 19  LCE123           A20                     NaN                        NaN
 20  LCE123           A21                     NaN                        NaN
 21  LCE123           A22                     NaN                        NaN
 22  LCE123           A23                   empty                        NaN
 23  LCE123           A24                   empty                        NaN
 24  LCE123            B1                     NaN                        NaN
 25  LCE123            B2                     NaN                        NaN
 26  LCE123            B3                     NaN                        NaN
 27  LCE123            B4                     NaN                        NaN
 28  LCE123            B5                     NaN                        NaN
 29  LCE123            B6                     NaN                        NaN

               sample FACs gate\n(if required) C-RT1-_Primer name  \
 0   Test before sort                      NaN            removed
 1    Test after sort                      NaN            removed
 2            SampleA                      NaN                 99
 3            SampleA                      NaN                100
 4            SampleA                      NaN                101
 5            SampleC                      NaN                102
 6            SampleC                      NaN                103
 7            SampleC                      NaN                104
 8            SampleC                      NaN                105
 9            SampleC                      NaN                106
 10           SampleC                      NaN                107
 11           SampleC                      NaN                108
 12           SampleC                      NaN                109
 13           SampleC                      NaN                110
 14           SampleC                      NaN                111
 15           SampleC                      NaN                112
 16           SampleC                      NaN                113
 17           SampleC                      NaN                114
 18           SampleC                      NaN                115
 19           SampleB                      NaN                116
 20           SampleB                      NaN                117
 21           SampleB                      NaN                118
 22   Test after sort                      NaN            removed
 23  Test before sort                      NaN            removed
 24           SampleA                      NaN                121
 25           SampleA                      NaN                122
 26           SampleA                      NaN                123
 27           SampleA                      NaN                124
 28           SampleA                      NaN                125
 29           SampleC                      NaN                126

    RD1 index (cell index)_index sequence \n(as in C-RT1-primer)  \
 0                                             removed
 1                                             removed
 2                                            GGTCTATG
 3                                            GTCCGAAT
 4                                            TAGTGCGT
 5                                            GACTGTAC
 6                                            TCCAGTAG
 7                                            AGCGTTGT
 8                                            GATGCGTT
 9                                            CCGTTAAG
 10                                           CAAGCCAT
 11                                           CTCCAAGA
 12                                           CTGCGTAA
 13                                           GTCCAACA
 14                                           ACTTGTGG
 15                                           AGCTCTGA
 16                                           GCATTAGC
 17                                           CCTATGAG
 18                                           CAACGCTA
 19                                           GCATAGTC
 20                                           TAGGTCAC
 21                                           ACTCAAGC
 22                                            removed
 23                                            removed
 24                                           GACTACTG
 25                                           AGTCTTGG
 26                                           AGCAGCTT
 27                                           TCACAGAC
 28                                           CCTGTAAG
 29                                           ATGACTGC

    Illumina index\nIndex number_(separate index read)  \
 0                                             removed
 1                                             removed
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                            removed
 23                                            removed
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN

    Illumina index\nIndex sequence_(separate index read)  \
 0                                             removed
 1                                             removed
 2                                                 NaN
 3                                                 NaN
 4                                                 NaN
 5                                                 NaN
 6                                                 NaN
 7                                                 NaN
 8                                                 NaN
 9                                                 NaN
 10                                                NaN
 11                                                NaN
 12                                                NaN
 13                                                NaN
 14                                                NaN
 15                                                NaN
 16                                                NaN
 17                                                NaN
 18                                                NaN
 19                                                NaN
 20                                                NaN
 21                                                NaN
 22                                            removed
 23                                            removed
 24                                                NaN
 25                                                NaN
 26                                                NaN
 27                                                NaN
 28                                                NaN
 29                                                NaN

                            RT1 index primer sequences Indexing       FSC-A  \
 0                                         HPR control      NaN         NaN
 1                                         HPR control      NaN         NaN
 2   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 3   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 4   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  102016.800
 5   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 6   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 7   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   93497.400
 8   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   98333.090
 9   CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  155062.800
 10  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   83309.400
 11  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   95595.300
 12  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  171486.890
 13  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  151747.200
 14  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   96948.900
 15  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  181331.100
 16  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  200381.390
 17  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  106067.695
 18  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  145593.000
 19  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 20  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 21  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN   88710.300
 22                                        HPR control      NaN         NaN
 23                                        HPR control      NaN         NaN
 24  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 25  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 26  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 27  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 28  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN         NaN
 29  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...      NaN  162009.890

        FSC-H       SSC-A     SSC-H   CD16 FITC       CD56 PE        DAPI  \
 0        NaN         NaN       NaN         NaN           NaN         NaN
 1        NaN         NaN       NaN         NaN           NaN         NaN
 2        NaN         NaN       NaN         NaN           NaN         NaN
 3        NaN         NaN       NaN         NaN           NaN         NaN
 4    74176.0   50605.430   35155.0   105.73000  25967.160000   41.829998
 5        NaN         NaN       NaN         NaN           NaN         NaN
 6        NaN         NaN       NaN         NaN           NaN         NaN
 7    66435.0   73614.240   49726.0   486.14000    137.700000   71.200000
 8    65024.0   68036.710   44830.0  2174.55000    108.119995  105.909996
 9    88576.0  134912.580   80049.0  1257.86000    105.060000  187.790000
 10   57883.0   72867.590   47461.0  1606.66000     66.299995  105.909996
 11   59431.0   75192.560   45789.0  2609.46000     77.520000  113.030000
 12   86064.0  140813.830   70451.0   130.80000    124.439995  241.190000
 13   84793.0  171893.000  100569.0   130.80000     87.720000  311.500000
 14   55518.0   89892.305   37582.0   100.28001     61.199997  218.050000
 15  100022.0  119831.336   64770.0   119.90000     77.520000  219.830000
 16  100261.0  175348.310   94064.0   141.70000     93.840000   39.160000
 17   66139.0  106036.300   64198.0   102.46001     67.320000  111.250000
 18   90272.0   97948.490   61194.0   184.21000     98.939995  338.199980
 19       NaN         NaN       NaN         NaN           NaN         NaN
 20       NaN         NaN       NaN         NaN           NaN         NaN
 21   63328.0   44755.402   30090.0  4635.77000   8642.460000   67.640000
 22       NaN         NaN       NaN         NaN           NaN         NaN
 23       NaN         NaN       NaN         NaN           NaN         NaN
 24       NaN         NaN       NaN         NaN           NaN         NaN
 25       NaN         NaN       NaN         NaN           NaN         NaN
 26       NaN         NaN       NaN         NaN           NaN         NaN
 27       NaN         NaN       NaN         NaN           NaN         NaN
 28       NaN         NaN       NaN         NaN           NaN         NaN
 29   95337.0  163453.140   95637.0  1493.30000    163.200000  402.280000

        Time
 0       NaN
 1       NaN
 2       NaN
 3       NaN
 4    2052.9
 5       NaN
 6       NaN
 7    3001.6
 8    3369.7
 9    4343.7
 10   5752.0
 11   6011.2
 12   6154.7
 13   6350.6
 14   6523.9
 15   6702.3
 16   6895.8
 17   7098.3
 18   7272.3
 19      NaN
 20      NaN
 21   8325.1
 22      NaN
 23      NaN
 24      NaN
 25      NaN
 26      NaN
 27      NaN
 28      NaN
 29  16845.5  ,
 None)

## Operation 4: Merge Primer Index File with Operation 3 Result (if provide Primer Index File)

In [86]:
# load primer index template
primer_index_df = pd.read_excel('primer_index_template.xlsx', sheet_name='Sample primer & index', skiprows=3)

# mockup primer index data by setting plate# to LCE123, mockup sample data based on operation 1
primer_index_df['Plate#'] = 'LCE123'
primer_index_df['Sample name'] = sample_sheet_df['sample']

# generate mockup test_primer_index.tsv file
primer_index_df.to_csv('test_primer_index.tsv', sep='\t', index=False)

primer_index_df.rename({'Plate#': 'plate', 'Well position': 'well_position', 'Sample name': 'sample'}, axis=1, inplace=True)    
# generate mockup test result file
merged_primer_index_df = pd.merge(merged_samplesheet_fcs_and_template_sheet_df, primer_index_df, 
                                  left_on=['plate', 'well_position', 'sample'], 
                                  right_on=['plate', 'well_position', 'sample'],
                                  suffixes=('', '_primer'))

(
    merged_primer_index_df.head(),
    merged_primer_index_df.to_csv('op4.merged_primer_index.tsv', sep='\t', index=False)
)

(    plate well_position Sample type\n(SC or MB) Tissue type\n(if required)  \
 0  LCE123            A1                   empty                        NaN
 1  LCE123            A2                   empty                        NaN
 2  LCE123            A3                     NaN                        NaN
 3  LCE123            A4                     NaN                        NaN
 4  LCE123            A5                     NaN                        NaN

              sample FACs gate\n(if required) C-RT1-_Primer name  \
 0  Test before sort                      NaN            removed
 1   Test after sort                      NaN            removed
 2           SampleA                      NaN                 99
 3           SampleA                      NaN                100
 4           SampleA                      NaN                101

   RD1 index (cell index)_index sequence \n(as in C-RT1-primer)  \
 0                                            removed
 1                                            removed
 2                                           GGTCTATG
 3                                           GTCCGAAT
 4                                           TAGTGCGT

   Illumina index\nIndex number_(separate index read)  \
 0                                            removed
 1                                            removed
 2                                                NaN
 3                                                NaN
 4                                                NaN

   Illumina index\nIndex sequence_(separate index read)  ...       DAPI  \
 0                                            removed    ...        NaN
 1                                            removed    ...        NaN
 2                                                NaN    ...        NaN
 3                                                NaN    ...        NaN
 4                                                NaN    ...  41.829998

      Time  Strain  Embryo / Adult  Cell Type  Primer name  \
 0     NaN     NaN             NaN        NaN          NaN
 1     NaN     NaN             NaN        NaN          NaN
 2     NaN      WT     e 14 Embryo       MPP4       RT1-99
 3     NaN      WT     e 14 Embryo       MPP4      RT1-100
 4  2052.9      WT     e 14 Embryo       MPP4      RT1-101

    index sequence \n(as in C-RT1-primer)  (separate index read)  \
 0                                    NaN                    NaN
 1                                    NaN                    NaN
 2                               GGTCTATG                   RPI9
 3                               GTCCGAAT                   RPI9
 4                               TAGTGCGT                   RPI9

    (separate index read).1                  RT1 index primer sequences_primer
 0                      NaN                                                NaN
 1                      NaN                                                NaN
 2                   GATCAG  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...
 3                   GATCAG  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...
 4                   GATCAG  CGATTGAGGCCGGTAATACGACTCACTATAGGGGTTCAGAGTTCTA...

 [5 rows x 28 columns],
 None)